<div class="jumbotron main-cover smaller-jumbotron" style="margin-top: 10pt">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div>
                    <h1>BeerShots</h1>
                    <p>A beer based community</p>
                </div>
            </div>
        </div>
    </div>
</div>