<div class="jumbotron main-cover" style="margin-top: 10pt">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div>
                    <h1>BeerShots</h1>
                    <p>A beer based community</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form class="" role="search" id="search">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="form-control input-lg" id="q" name="q"
                                   placeholder="Find a pub by place name or postcode"/>
                            <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Do something</h2>
            <p>Some stuff that this application does</p>
            <ul>
                <li><a href="/">option</a></li>
                <li><a href="/">option</a></li>
                <li><a href="/">option</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Something else</h2>
            <p>View stories based on labels</p>
            <ul>
                <li><a href="/">option</a></li>
                <li><a href="/">option</a></li>
                <li><a href="/">option</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Another view</h2>
            <p>Some text</p>
            <ul>
                <li><a href="/">option</a></li>
                <li><a href="/">option</a></li>
                <li><a href="/">option</a></li>
            </ul>
        </div>
    </div>
</div>
<hr>
<script language="JavaScript" src="/js/jspostcode.js"> </script>
<script language="JavaScript" src="js/beershots.js"></script>

<script language="JavaScript">
    $(window).ready(function () {

        $("#search").on("submit", function (event) {
            event.preventDefault();
            var query = $("#q").val();

            doPubSearch(query, "{{locationiq_key}}");
        });

    });
</script>