.main-cover {
    background: url('/images/bar_banner.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    color: #f8f8f8;
}


.smaller-jumbotron
{
    height: 200px;
}

.index-page {
    padding-top: 0px;
}

#map {
    height: 100%;
    width: 100%;
    min-height: 100%;
    padding-right: 0;
    padding-left: 0;
}

#map-id {
    height: 500px;
    padding-right: 0;
    padding-left: 0;
}

.highlight {
    background-color: #550055;
    color:#eeeeee;
}

.fill {
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: auto;
    height: auto;
}

.glyphicon { margin-right:5px;}
.rating .glyphicon {font-size: 22px;}
.rating-num { margin-top:0px;font-size: 54px; }
.progress { margin-bottom: 5px;}
.progress-bar { text-align: left; }
.rating-desc .col-md-3 {padding-right: 0px;}
.sr-only { margin-left: 5px;overflow: visible;clip: auto; }





